* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #050816, #0b1120, #111827);
  color: #e5e7eb;
}

/* PROGRESS */
#progressBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: #00f5ff;
  z-index: 9999;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  background: rgba(10,15,30,0.95);
  padding: 20px;
  border-right: 2px solid #00f5ff;
}

.sidebar h2 {
  color: #00f5ff;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  background: #00f5ff;
  color: black;
}

/* CONTENT */
.content {
  margin-left: 280px;
  padding: 40px;
}

section {
  margin-bottom: 60px;
  padding: 25px;
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #555;
  padding: 10px;
  text-align: center;
}

/* QUIZ */
.quiz-box button {
  margin: 8px;
  padding: 10px 15px;
  border: none;
  background: #00f5ff;
  cursor: pointer;
  border-radius: 8px;
}

.quiz-box button.selecionado {
  background: #00ff88;
}

/* TOP BUTTON */
#topButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #00f5ff;
  border: none;
}
